body{
   
    background-color: rgba(200, 210, 100, 0.8);
}
#bpic{
    border: 2px dotted black;
}
.layout{
    color : #5959c4;
    font-family:cursive;
    
}
table tr: first-child{
    background-color: rgb(280, 210, 100);
}