body{
   
    background-color: rgba(200, 210, 100, 0.8);
}
#bpic{
    border: 2px dotted black;
}
.layout{
    color : #5959c4;
    font-family:cursive;
    
}
.box-model-outer{
    border: 2px dotted black;
}
.box-model-inner{
    border: 2px dotted cadetblue;
}

table tr: first-child{
    background-color: rgb(280, 210, 100);
}
.box{
  height: 42px;
  width: 42px;
  border: 1px solid #333333;
  padding: 9px;
  text-align: center;
  position: relative;
}
.box1{
  background-color: red;
}

.box2{
  right: 62px;  
  background-color: green;
}

.box3{
    left: 124px;
    background-color: blue;
}
.jets{
  text-align: center;
  background-color: blue;
}
.pp{
  border-radius: 50%
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}


